<!DOCTYPE html>
<html lang="en">
<!--<head>-->
    <!--<link href="style.css" rel="stylesheet" type="text/css">-->
<!--</head>-->
<!--<body>-->
<!--<nav>-->
    <!--<h1 class="loginMessage">Start tracking you calories</h1>-->
    <!--<h1 class="smalljoke">powered by Pepsi</h1>-->
    <!--<ul class="topBar">-->
        <!--<li>-->
            <!--<a title="login" href="start.html">Login</a>-->
        <!--</li>-->
        <!--<li>-->
            <!--<a title="createUser" href="start.html">Create an Account</a>-->
        <!--</li>-->
    <!--</ul>-->
<!--</nav>-->

<!--<br>-->
<!--<form action="/edit-page" method="post">-->
    <!--<input type="text" placeholder="Enter your meal" name="mealName">-->
    <!--<input type="number" placeholder="Calories" name="calories">-->
    <!--<input type="number" placeholder="Fat" name="fat">-->
    <!--<input type="number" placeholder="Carbs" name="carbs">-->
    <!--<input type="number" placeholder="Protein" name="protein">-->
    <!--<select name="typeOfMeal">-->
        <!--<option selected disabled>Which meal</option>-->
        <!--<option value="breakfast">Breakfast</option>-->
        <!--<option value="brunch">Brunch</option>-->
        <!--<option value="lunch">Lunch</option>-->
        <!--<option value="dinner">Dinner</option>-->
    <!--</select>-->
    <!--<button type="submit">Submit</button>-->
<!--</form>-->
<!--<p>-->

<!--</body>-->
<!--</html>-->