<html>
<body>
{{#userName}}
{{.}}
<form action="/logout" method="post">
    <button type="logout">Logout</button>
</form>


<form action="/new-entry" method="post">
      <input type="text" placeholder="write whatev" name="newEntry">
    <button type="submit">Submit</button>
</form>

{{#entries}}
<ul style="list-style: none;">
    <li>
        <p>{{author}}:  {{text}}</p>

        <!--<form action="/edit-message" method="get">-->
            <!--<input type="hidden" value="{{id}}" name="messi"/>-->
            <a href="/anotherplace/{{id}}">edit</a><br>
        <!--</form>-->

    <form action="/delete-message" method="post">
    <input type="hidden" value="{{id}}" name="messy"/>
    <button type="submit">Delete</button>
    </form>

    </li>
</ul>
{{/entries}}

{{/userName}}

{{#entries}}
{{/entries}}



</body>
</html>